/** 
Light grey #B7AcA6;
background-color: #707279;
color: #485268;
**/

html {
	box-sizing: border-box;
}
*, *::before, *::after {
 	box-sizing: inherit;
 }

body {
	margin: 0;
	background-color: #B7AcA6;
}

nav {
	width: 100%;
	margin:0;
	padding:0;
}

nav li {
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
}

nav ol {
	margin: 0;
}
nav li a {
	color: black;
	text-align: center;
	text-decoration: none;
	background-color: #B7AcA6;
	margin: 0;
	width: 100%;
	padding: 0.5em 0;
	margin: 0;
	display: inline-block;
	border: solid 1px black;
	font-size: 0.75rem;
}

p {
	padding: 0 1em;
}

h1 {
	text-align: center;
	color: black;
	font-size: 3rem;
	background-color: #B7AcA6;
	margin: 0;
	padding: 10px 0;
}

h2 {
	text-align: center;
	margin-bottom: 0;
}

.banner-div {
	position: relative;
	background-image: url("../images/panorama.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 36%;
	margin-top: 28px;
}

.banner-div h2 {
	color: black;
	text-align: center;
	bottom: 0%;
	width: 100%;
	padding: 1em 0;
	margin: 0;
	margin-bottom: -1%;
	z-index: 4;
	position: absolute;
}

.banner-p {
	color: black;
	background-image: linear-gradient(to top, white, transparent);
	text-align: center;
	width: 100%;
	padding-top: 3.5em;
	margin: 0;
	position: absolute;
	bottom: 0;
	z-index: 3;
}




a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

ol, ul {
	padding-left: 0;
}

img {
	width: 90%;
	position: relative;
	left: 5%;
	padding-top: 1em;
}

.dt-2 {

}
































